.formContainer {
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-width: 450px;
  margin: 20px auto; /* Centra el formulario */
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
}

.formGroup {
  display: flex;
  flex-direction: column;
}

.label {
  margin-bottom: 5px;
  font-weight: bold;
  color: #333;
}

/* Estilo base para inputs y textarea */
.input,
.textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%; /* Asegura que ocupen todo el ancho del formGroup */
  box-sizing: border-box; /* Incluye padding y border en el ancho total */
  font-size: 1rem;
}

.input:focus,
.textarea:focus {
  border-color: #007bff;
  outline: none;
}

.submitButton {
  background-color: #007bff;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1.1rem;
  margin-top: 10px;
}

.submitButton:hover {
  background-color: #0056b3;
}
