.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: white;
  padding: 1rem;
}

.navbarlogo a {
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
}

.navbarlinks {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.navbarlinks li {
  margin-left: 1rem;
}

.navbarlinks a {
  color: white;
  text-decoration: none;
}


.zonaAuth {
    display: flex; 
    align-items: flex-end;
    gap: 15px;
}


.loginButton {
  padding: 8px 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 20px; /* Separa el botón de los enlaces si la pantalla es estrecha */
  background-color: #28a745; /* Verde para ingresar */
  color: white;
}

.logoutButton {
  padding: 8px 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 20px; /* Separa el botón de los enlaces si la pantalla es estrecha */
  margin-right: 20px; /* separa el boton del icono */
  background-color: #dc3545; /* Rojo para cerrar */
  color: white;
}

.saludo {
  margin-right: 15px; /* Espacio entre el saludo y el botón */
  color: #4CAF50; /* Color verde para el saludo, por ejemplo */
  font-weight: bold;
}

