.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color:#040D50;
  color: #F49F1C;
  padding: 1rem;
}

.navbarlogo a {
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
}

.navbarlinks {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.navbarlinks li {
  margin-left: 1rem;
  display: block;
}

.navbarlinks a {
  color: white;
  text-decoration: none;
}

/* Ocultar la hamburguesa por defecto en escritorio */
.hamburger {
    display: none; 
    background: none;
    border: none;
    cursor: pointer;
    /*flex-direction: column;
    justify-content: space-around;
    height: 24px;
    width: 30px;
    padding: 0;*/
}

.bar {
    display: inline-block; 
    color: white;
}

.zonaAuth {
    display: flex; 
    align-items: flex-end;
    gap: 15px;
}


.loginButton {
  padding: 8px 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 20px; /* Separa el botón de los enlaces si la pantalla es estrecha */
  background-color: #F49F1C; /* Verde para ingresar */
  color: white;
}

.logoutButton {
  padding: 8px 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 20px; /* Separa el botón de los enlaces si la pantalla es estrecha */
  margin-right: 20px; /* separa el boton del icono */
  background-color:#6f74b9; 
  color: white;
}

.saludo {
  margin-right: 15px; /* Espacio entre el saludo y el botón */
  color:#F49F1C; 
  font-weight: bold;
  align-content: center;
}


.txtBtnIngresar {
  display: inline;
}

.iconBtnIngresar {
  display: none;      /* oculto el icono en PC*/
}



@media (max-width: 768px) { /* móvil */
   
  /* Para ajustar el menu */
  .hamburger {
      display: flex; /* Mostrar el botón de hamburguesa */
  }

  .navbarlinks {
      display: none; /* Oculto por defecto en móvil */
      position: absolute;
      left: 30px;
      top: 150px; /* Ajusta esto a la altura de tu navbar */
      flex-direction: column;
      width: 25%;
      background-color:#6f74b9; ; /* Fondo del menú desplegable */
      box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
      padding: 10px;
      border-radius: 10px;
      text-align: start;
  }

  .navbarlinks li a {
      padding: 1rem;
      text-align: center;
  }

  .navbarlinks.active {
      display: flex; /* Mostrar cuando la clase 'active' está presente */
  }

  /* Para ajustar la zona Auth boton-saludo-carrito*/
  .loginButton {
        /* botón cuadrado en móvil  */
        width: 40px;
        height: 40px;
        padding: 0;
        justify-content: center; 
    }

  .txtBtnIngresar {
        display: none; /* Oculta el texto "Ingresar" */
    }

  .iconBtnIngresar {
        display: inline-block; /* Muestra el icono */
    }
}