
.caja {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:#040D50;
    color: #F49F1C;
    padding: 1rem;
}

.texto {
    color: #F49F1C;
}


@media (max-width: 768px) { /* móvil */

    .direccion {
        display: none;
    }

}