
.listaproductos {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 10px;
  padding: 10px;
}

.card {
  background-color: #DFE0F3; /* ; /* Color de fondo */
  background-color: ; /* Color de fondo#9EA2DC */
  border-radius: 20px;      /* Bordes redondeados */
  box-shadow: 2px 3px 10px#9EA2DC; /* Sombra */
  max-width: 350px;         /* Ancho m치ximo */
  padding: 20px;            /* Espacio interno */
  margin: 10px;             /* Espacio externo */
  overflow: hidden;         /* Ocultar contenido que se salga */
  display: flex;
  flex-direction: column;  /* Organizar el contenido en columna */
  align-items: center;     /* Centrar el contenido horizontalmente */
  gap: 10px; 
}



.cardImg {
        width: 100%; /* Asegura que la imagen ocupe el ancho de la card */
        height: auto; /* Mantiene la proporci칩n de la imagen */
        object-fit: cover; /* Recorta la imagen para que cubra el 치rea sin deformarse */
}

/* Estilo base para todos los botones de acci칩n */
.actionButton {
  padding: 8px 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 0.85rem;
  transition: background-color 0.2s;
  background-color:#040D50; 
  color: white;
}

.actionButton:hover {
  background-color: #19bb31db;
}
