
.listaproductos {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  padding: 20px;
}

.card {
  background-color: #d0d4c5; /* Color de fondo */
  border-radius: 20px;      /* Bordes redondeados */
  box-shadow: 2px 3px 15px #ECF0F1; /* Sombra */
  max-width: 350px;         /* Ancho m치ximo */
  padding: 20px;            /* Espacio interno */
  margin: 20px;             /* Espacio externo */
  overflow: hidden;         /* Ocultar contenido que se salga */
  display: flex;
  flex-direction: column;  /* Organizar el contenido en columna */
  align-items: center;     /* Centrar el contenido horizontalmente */
}



.cardImg {
        width: 100%; /* Asegura que la imagen ocupe el ancho de la card */
        height: auto; /* Mantiene la proporci칩n de la imagen */
        object-fit: cover; /* Recorta la imagen para que cubra el 치rea sin deformarse */
}



/* Estilo base para todos los botones de acci칩n */
.actionButton {
  padding: 8px 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 0.85rem;
  transition: background-color 0.2s;
  background-color: #00ff26db; /* Verde */
  color: white;
}

.actionButton:hover {
  background-color: #19bb31db;
}
